* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    font-family: 'Yusei Magic', sans-serif;
}

.skill-card-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;

}

.skill-card {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    font-family: 'Yusei Magic', sans-serif;
    
}

.skill-label {
    width: 45%;
    margin-right: 10px;
    
}

.skill-progress {
    width: 55%;
    
}

.skill-table {
    width: 100%;
    margin: 5px;
    padding: 5px;
}


progress {
    border-radius: 7px; 
    width: 90%;
    height: 15px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
  }
  progress::-webkit-progress-bar {
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: rgb(2, 110, 252);
    border-radius: 7px;
  }
  progress::-moz-progress-bar {
    /* style rules */
  }