* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  position: relative;
  background-color: beige;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.topRow{
  display: flex;
  width: 100%;
  height: 50%;
}

.bottomRow{
  display: flex;
  width: 100%;
  height: 50%;
}

.topLeftContainer {
  background-color: rgb(255, 210, 140);
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 15px;
}

.topRightContainer {
  background-color: rgb(121, 224, 255);
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 15px;
}

.bottomLeftContainer {
  background-color: rgb(255, 210, 140);
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 15px;
}

.bottomRightContainer {
  background-color: rgb(255, 168, 255);
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 15px;
}


@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');